# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# Environnement
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# Export temporaire
exports/*.json
